body {
  	margin: 0 auto;
 	width: 1280px;
  	position:absolute;
 	left: 50%; margin-left: -640px;
}

.white {
	font-family: source-han-serif-korean, serif;
	font-weight: 300;
	font-size: 24px;
	line-height: 40px;
}

.black {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
	font-size: 24px;
	line-height: 40px;
	background-color: black;
	color: white;
}

.sansbold {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 700;
}

.serifbold {
	font-family: source-han-serif-korean, serif;
	font-weight: 700;
}

#footertext {
	position: relative;
	top: 24px;
	text-align: center;
	font-size: 18px;
	line-height: 30px;
}

#footer {
	clear: both;
	background-color: black;
	width: 1280px;
	height: 150px;
}


#nav {
	width: 1280px;
	height: 100px;
	background-color: white;
  	position: fixed;
  	margin: 0 auto;
  	z-index: 1;
}

#nav a {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 500;
	text-decoration:none; 
	color: black;
	font-size: 24px;
}
#newton {
	margin: 32px;
	float: left;
	display: inline;
}

#hypertext {
 	margin: 32px;
 	float: right;
  	display: inline-block;
}

.hypertext {
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
}




#header{
	height: 792px;
	clear: both;
}

.title {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 700;
	font-size: 72px;
	position: relative;
	top: 272px;
	left: 180px;
}

.subtitle {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
	font-size: 36px;
	position: relative;
	top: 280px;
	left: 180px;
}



#concept {
	height: 800px;
}


#hover-me01 {
	font-size: 140px;
	line-height: 120px;
	font-weight: 700;
	position: absolute;
	top:920px;
	left: 180px;
	width: 460px;
}

#hover-me01:hover {
	font-size: 0;
}

#hover-me01:hover:before {
	content: '지구상의 관측자를\A중심으로 해서 그린 구면';
	white-space: pre;
	color: white;
	font-size: 24px;
	font-weight: 300;
	width: 460px;
	list-style: none;
}

#hover-me01::-webkit-details-marker {
	display: none;
}

summary {
	cursor: pointer;
}

#meaning01 {
	width: 560px;
	position: absolute;
	top: 980px;
	left: 560px;
}

#hover-me02 {
	font-size: 140px;
	line-height: 120px;
	font-weight: 700;
	position: absolute;
	top:1200px;
	right: 180px;
	text-align: right;
	width: 460px;
}

#hover-me02:hover {
	font-size: 0;
}

#hover-me02:hover:before {
	content: '지구가 태양 주변을 공전하는 동안\A천구에 투영된 태양의 겉보기 경로';
	white-space: pre;
	font-size: 24px;
	font-weight: 300;
	text-align: right;
	width: 460px;
	list-style: none;
}

#hover-me02::-webkit-details-marker {
	display: none;
}

#meaning02 {
	width: 560px;
	position: absolute;
	top: 1220px;
	right: 560px;
	text-align: right;
}






#whitesphere {
	background-color: white
	width: 1280px;
	height: 792px;
	display: inline-block;
	position: absolute;
	top: 3072px;
	left: 180px;
}

#useequatorial  {
	margin-left: 180px;
	margin-top: 288px;
	width: 356px;
	background-color: white;
	color: black;
	display: inline-block;
}

#isequatorial {
	margin-top: 288px;
	margin-bottom: 364px;
	width: 640px;
	background-color: white;
	color: black;
	display: inline-block;
	font-size: 48px;
	line-height: 72px;
}

#earthspin {
	margin-left: 180px;
	margin-top: 140px;
	margin-bottom: 100px;
	width: 480px;
	background-color: white;
	color: black;
	display: inline-block;
	text-align: justify;
}
#season {
	margin-top: 140px;
	margin-left: 56px;
	width: 420px;
	background-color: white;
	color: black;
	display: inline-block;
	font-size: 48px;
	line-height: 72px;
	font-weight: 700;
}




#sphere::-webkit-details-marker {
	display: none;
}

#location::-webkit-details-marker {
	display: none;
}
